{%extends "::base.html.twig"%}{# empty Twig template #}
{% block body %}  
    <div class="row">
        <div class="col-md-3">
          {% image '@UniversalBundle/Resources/public/images/actifed.jpg'
    filter='jpegoptim' output='/images/actifed.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
            <p><u>Imodium</u> lingual diarrhée aiguë est un médicament très efficace contre la diarrhée soudaine (aiguë), quelle qu’en soit la cause. Il freine la motilité intestinale par effet direct sur la musculature du tube digestif.</p>

        </div>
        <div class="col-md-3">
           {% image '@UniversalBundle/Resources/public/images/nurofen.jpg'
    filter='jpegoptim' output='/images/nurofen.jpg' %}
    <img src="{{ asset_url }}" alt="nurofen"/>
{% endimage %}

            <p><u>NurofenFlash</u> 400mg est indiqué chez l’adulte et l’enfant de plus de 30kg (environ 11-12ans) dans le traitement de courte durée de la fièvre et/ou des douleurs telles que :
            Maux de tête,Douleurs dentaires,Règles douloureuses,Courbatures,Etats grippaux.
            </p>

        </div>
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/doliprane.jpg'
    filter='jpegoptim' output='/images/doliprane.jpg' %}
    <img src="{{ asset_url }}" alt="doliprane"/>
{% endimage %}
            <p><u>Doliprane</u> 1000mg est indiqué en cas de douleur et/ou fièvre telles que maux de tête, états grippaux, douleurs dentaires, courbatures, règles douloureuses.
            Il peut également être prescrit par votre médecin dans les douleurs de l’arthrose.</p>
        </div>
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/generique eg.jpg'
    filter='jpegoptim' output='/images/generique eg.jpg' %}
    <img src="{{ asset_url }}" alt="generique eg"/>
{% endimage %}
            <p><u>Générique</u> EG est un générique de CLAMOXYL.<br />
            Il est utilisé dans le traitement de diverses maladies infectieuses, notamment des poumons, des bronches, du nez, de la gorge ou des oreilles, du sang, de l'appareil digestif ou urinaire, des voies génitales, des gencives et des dents.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/ipraalox.jpg'
    filter='jpegoptim' output='/images/ipraalox.jpg' %}
    <img src="{{ asset_url }}" alt="ipraalox"/>
{% endimage %}
            <p><u>Ipraalox</u> est utilisé dans le traitement de courte durée des symptômes du reflux gastro-œsophagien (brûlures d'estomac, régurgitations...).</p>

        </div>
        <div class="col-md-3">
             {% image '@UniversalBundle/Resources/public/images/spasmine.jpg'
    filter='jpegoptim' output='/images/spasmine.jpg' %}
    <img src="{{ asset_url }}" alt="spasmine"/>
{% endimage %}
            <p><u>Spasmine</u> Traditionnellement utilisé pour réduire la nervosité des adultes et des enfants, notamment en cas de troubles du sommeil.</p>
        </div>
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/actifed.jpg'
    filter='jpegoptim' output='/images/actifed.jpg' %}
    <img src="{{ asset_url }}" alt="actifed"/>
{% endimage %}
            <p><u>Actifed</u> Une action complète pour traiter tous les symptômes du rhume en un seul traitement.
            Un comprimé d’ACTIFED® Rhume associe:  

            le paracétamol pour une double action à la fois antalgique pour soulager les maux de tête et antipyrétique pour lutter contre la fièvre,
            la triprolidine, un antihistaminique H1 pour réduire les sécrétions nasales (nez qui coule),
            et la pseudoéphédrine , un vasoconstricteur pour décongestionner le nez.</p>
        </div>
        <div class="col-md-3">
             {% image '@UniversalBundle/Resources/public/images/strpsils.jpg'
    filter='jpegoptim' output='/images/strpsils.jpg' %}
    <img src="{{ asset_url }}" alt="strpsils"/>
{% endimage %}
            <p><u>Strepsils</u> soulage rapidement les maux de gorge peu intenses et sans fièvre, les aphtes et les petites plaies de la bouche.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/microlax.jpg'
    filter='jpegoptim' output='/images/microlax.jpg' %}
    <img src="{{ asset_url }}" alt="microlax"/>
{% endimage %}
            <p><u>Microlax</u> est un laxatif administré par voie rectale. Il ramollit les selles et déclenche une contraction du rectum qui permet leur évacuation.</p>

        </div>
        <div class="col-md-3">
            {% image '@UniversalBundle/Resources/public/images/camilia.jpg'
    filter='jpegoptim' output='/images/camilia.jpg' %}
    <img src="{{ asset_url }}" alt="camilia"/>
{% endimage %}
            <p><u>Camilia</u>  soulage la poussée dentaire,de votre bébé.</p>
        </div>
        <div class="col-md-3">
           {% image '@UniversalBundle/Resources/public/images/doliprane bb.jpg'
    filter='jpegoptim' output='/images/doliprane bb.jpg' %}
    <img src="{{ asset_url }}" alt="doliprane bb"/>
{% endimage %}
            <p><u>Doliprane</u> est indiqué en cas de douleur et/ou fièvre telles que maux de tête, états grippaux, douleurs dentaires, courbatures.
            Cette présentation est réservée à l'enfant de 3 à 26 kg (soit environ de la naissance à 9 ans)</p>
        </div>
        <div class="col-md-3">
             {% image '@UniversalBundle/Resources/public/images/prorhinel.jpg'
    filter='jpegoptim' output='/images/prorhinel.jpg' %}
    <img src="{{ asset_url }}" alt="prorhinel"/>
{% endimage %}
            <p><u>Prorhinel</u> aide à soulager votre bébé et libérer son nez.</p>
        </div>
    </div>


{% endblock  %}     
